.App {
  background-image: url('./assets/background.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0px;
}

.TodoSession {
  margin-top: 5%;
  padding: 20px;
  width: 30%;
  float: right;
}