@import "../node_modules/bootstrap/scss/functions";


@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$form-range-track-height:         .2rem;
$form-range-thumb-bg:             $gray-300;
$form-range-thumb-width:          .8rem;
$form-range-thumb-height:         $form-range-thumb-width;


$theme-color: (
    "primary" : white
);

@import '~bootstrap/scss/bootstrap.scss';

